input {
  margin-left:10px;
  width:50px;
  height:30px;
}
img {
  margin-left: 20px;
  width: 70px;
  float: left;
}
#container {
  border: 2px solid grey;
  width: 180px;
  margin-left:100px;
}
#ev {
  border: 0px;
  width: 60px;
  height: 85px;
  top: 540px;
  position: absolute;
  margin-left: 180px;
}
#reset {
  clear:both;
}
.btn{
  float:left;
}
